.search {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    &__input {
        display: block;
        width: 0;
        border: 0;
        border-bottom: 1px solid transparent;
        outline: none;
        transition: width .4s ease, border .3s ease;
        &:focus {
            width: 428px;
            border-bottom: 1px solid #828282;
        }
    }
    &__button {
        order: 1;
        background: none;
        border: 0;
        cursor: pointer;
        & > span {
            position: absolute;
            opacity: 0;
        }
        &:focus {
            & ~ .search__input {
                width: 428px;
                border-bottom: 1px solid #828282;
            }
        }
    }

}