.swiper {
    max-width: 1328px;
    width: 100%;
    height: 536px;
    // padding: 0 0 112px 0;
    border-radius: 16px;
    &-pagination {
        position: initial;
    }
    &__pagination {
        width: 16px;
        height: 16px;
        background-color: #363431;
    }
    &__navigation {
        position: relative;
        top: -64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-slide {
        display: flex;
        max-height: 424px;
        background-color: $bg_color;
    }
    &-button-next, .swiper-button-prev {
        position: initial;
        top: 0;
        width: 64px;
        height: 64px;
        margin-top: 0;
        background: url('../img/slider-img/slider-arrow.png') center no-repeat, $bg_color;
        border-radius: 50%;
    }

    &-button-prev::after {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    &-button-next {
        transform: rotate(180deg);
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        width: auto;
        margin: 0 124px;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin : 0 var(--swiper-pagination-bullet-horizontal-gap,24px);
    }
    .swiper-pagination-bullet-active {
        background: $text_color;
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
    }
    
}

.slide {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 80px 32px;
        // justify-content: center;
        text-align: left;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        margin: 0 0 32px 0;
        color: $accent_color;
        .price {
            &-discount {
                margin: 0;
                font-size: 32px;
            }
            &-full {
                margin: 0 0 6px 0;
                font-size: 18px;
                text-decoration: line-through;
            }
        }
    }
    &__img {
        max-width: 642px;
        height: auto;
    }
    &__title {
        margin: 0 0 32px 0;
        font-size: 32px;
        font-weight: 400;
        // margin-bottom: 24px;
    }
    &__text {
        max-width: 512px;
        margin: 0 0 24px 0;
        font-size: 18px;
    }
    &__button {
        font-size: 18px;
    }
}
