.contacts {
    &__wrapper {
        margin-top: -90px;
        padding: 0 137px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 360px));
        gap: 32px;
        & .contact {
            &__heading {
                margin-bottom: 24px;
                font-size: 24px;
                font-weight: 400;
                color: $text_color;
            }
            &__info-item {
                max-width: 360px;
                width: 270px;
                margin-bottom: 16px;
            }
        }
    }
}